* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  // 1rem = 10px
  font-size: 62.5%;
  @include respond(tablet-2) {
    font-size: 56.25%;
  }
  @include respond(tablet-15) {
    font-size: 45%;
  }
  @include respond(tablet-1) {
    font-size: 40%;
  }
  @include respond(mobile-4) {
    font-size: 35%;
  }
  @include respond(mobile-3) {
    font-size: 30%;
  }
}

body {
  background-color: $color-bg-dark;
  font-family: $font-handjet;
  ::selection {
    background-color: rgba($color-bg-primary, 0.6);
    color: $color-white;
  }
}
