$default-size: 62.5%;
$bg-desktop-back: url("../img/pattern-bg-desktop.png");
$color-light-gray: #bbb;
$color-normal-gray: #888;
$color-dark-gray: #333;
@mixin border-radius {
  border-radius: 10px;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  // 10px
  font-size: $default-size;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  font-size: 1.5rem;
}
.back {
  padding-top: 3px;
  height: 25rem;
  width: 100%;
  background-image: $bg-desktop-back;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  .back__title {
    padding: 1rem;
    font-size: 2.7rem !important;
  }
  .input-group {
    margin: 1rem 0;
    width: 42%;
    height: 4rem;

    button {
      @include border-radius;
      font-size: 3rem;
      font-weight: 700;
      width: 10%;
      position: relative;
      padding: 0;
      svg {
        fill: white;
        width: 3rem;
        height: 5rem;
      }
    }
    input {
      @include border-radius;
      font-size: 2rem;
      &::placeholder {
        font-size: 1.7rem;
        padding: 0 1rem;
        font-weight: 500;
        color: $color-normal-gray;
      }
    }
  }
}
.spinner {
  margin: 5rem auto;
  text-align: center;
  svg {
    height: 6rem;
    width: 6rem;
    fill: $color-normal-gray;
    animation: rotate 3s infinite linear;
  }
}

.map {
  height: 65vh;
  width: 100%;
  z-index: 1;
  // background-color: #999;
}
.error {
  padding-top: 4rem;
  font-weight: 900;
  color: $color-dark-gray;
  svg {
    fill: $color-dark-gray;
    height: 9rem;
    margin-bottom: 2rem;
  }
}

.box {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  width: 80%;
  min-height: 10vh;
  @include border-radius;
  z-index: 10;
  padding: 2rem 0;
  .box__each {
    text-align: left;
    width: 100%;
    border-right: 1px solid $color-light-gray;
    padding-left: 2rem;
    small {
      font-weight: 500;
      letter-spacing: 0.2rem;
      color: $color-normal-gray;
    }
    h5 {
      width: 80%;
      // padding: 1rem;
      margin-top: 1rem;
      font-weight: 700;
      font-size: 2.3rem;
    }
  }
  .error {
    padding-top: 0;
  }
}
