* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.back {
  height: 35vh;
  width: 100%;
  background-size: cover;
  background-image: url("../images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  z-index: 50;
}

.map {
  height: 65vh;
  width: 100%;
  z-index: 1;
  /* background-image: url("../images/map.PNG"); */
}

.box {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 75%;
  height: 20vh;
  border-radius: 20px;
  z-index: 10;
}

.each {
  width: 20%;
  border-right: 1px solid #bbb;
}

.each:last-child {
  border: 0;
}

.each small {
  font-weight: 700;
  letter-spacing: 2px;
}

.each h5 {
  font-weight: 700;
}

.input-group button {
  border-radius: 0 10px 10px 0;
  font-weight: 900;
  font-size: 1.5em;
}

.input-group input::placeholder {
  font-size: 0.9em;
}

@media (max-width: 1088px) {
  .each h5 {
    font-size: 1em;
  }
  .each small {
    font-size: 0.7em;
  }
  .input-group input::placeholder {
    font-size: 0.8em;
  }
  .title {
    font-size: 1.2em;
  }
  .input-group {
    width: 60% !important;
  }
}

@media (max-width: 745px) {
  .each h5 {
    font-size: 0.8em;
  }
  .each small {
    font-size: 0.6em;
  }
}

@media (max-width: 700px) {
  .input-group {
    width: 80% !important;
  }
  .box {
    left: 12%;
    height: auto;
    flex-flow: column;
    padding: 1em;
  }

  .each {
    border: 0;
    width: 100%;
    text-align: center;
  }

  .each h5 {
    padding-top: 0 !important;
    padding-bottom: 0.8em;
    font-size: 1em;
  }
  .each small {
    font-size: 0.7em;
  }
}
