@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap");

$font-handjet: "Handjet", cursive;

$color-bg-dark: #333;
$color-bg-light: #bbb;
$color-bg-primary: #5bbe73;
$color-white: #fff;
$color-black: #000;

$color-text-dark: #333;
$color-text-mid: #234d29;

$color-bootstrap-success: #198754;
